/* para responsividade trocar px por % ou rem */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background: rgba(158, 152, 240, 0.333);
}

#home-link {
    text-decoration: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.75rem;
    float: left;
}

#lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));

}

.forms {
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    color: rgb(241, 241, 241);
    background-color: blueviolet;
}

input,textarea {
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(213, 207, 230);
    border-color: rgb(0, 110, 255);
    color: white;
}

#btn {
    background-color: blueviolet;
}

.card {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 4fr)); */
    margin: 20px;
    background-color: rgba(79, 80, 90, 0.973);
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    padding: 15px;
    border: 3px solid white;
    color: white;
    break-inside: avoid;
}

.card-done {
    text-decoration: line-through;
}

.btnExcluir{
    padding: 15px;    
}

footer {
    width: 100%;
    text-align: center;
    align-items: flex-end;
    justify-content: end;
    justify-items: flex-end;
}

@media (max-width: 600px) {
    section {
        display: flex;
        height: 100vh;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .forms {
        
        
    }
}

.fadeout {
    opacity: 0;
    transition: 0.5s;
}